# Dataset
<hr>

In [121]:
import pandas as pd

df = pd.read_csv("archive/dataset.csv", sep=",", encoding='latin1')
df.head()

,id,userName,text,profileUrl,avatarUrl,date
0,343750925,ngui_sintan,Timnas kali ini semua cogan semua ya ????????,https://www.instagram.com/ngui_sintan/,https://scontent-cgk2-1.cdninstagram.com/v/t51...,2024/04/29 10:16:56
1,62994040438,agustiyaindahsariputri,Timnas Indonesia U-19 vs pra PON,https://www.instagram.com/agustiyaindahsariputri/,https://scontent-cgk2-1.cdninstagram.com/v/t51...,2024/04/29 12:28:06
2,66276899001,shaunevans_reff,????,https://www.instagram.com/shaunevans_reff/,https://scontent-cgk2-1.cdninstagram.com/v/t51...,2024/04/29 13:21:02
3,47461686772,dslsyabildumps_,uhuyyyy????,https://www.instagram.com/dslsyabildumps_/,https://scontent-cgk2-1.cdninstagram.com/v/t51...,2024/04/29 14:36:48
4,53547989641,rohadiiiiiii,Final : waalykumsalam ????,https://www.instagram.com/rohadiiiiiii/,https://scontent-cgk2-1.cdninstagram.com/v/t51...,2024/04/29 14:57:33

# Data preprocessing

In [122]:
df = df.drop('id', axis=1)
df = df.drop('profileUrl', axis=1)
df = df.drop('avatarUrl', axis=1)
df.head()

,userName,text,date
0,ngui_sintan,Timnas kali ini semua cogan semua ya ????????,2024/04/29 10:16:56
1,agustiyaindahsariputri,Timnas Indonesia U-19 vs pra PON,2024/04/29 12:28:06
2,shaunevans_reff,????,2024/04/29 13:21:02
3,dslsyabildumps_,uhuyyyy????,2024/04/29 14:36:48
4,rohadiiiiiii,Final : waalykumsalam ????,2024/04/29 14:57:33

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789 entries, 0 to 788
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   userName  789 non-null    object
 1   text      788 non-null    object
 2   date      789 non-null    object
dtypes: object(3)
memory usage: 18.6+ KB

In [124]:
df.isnull().sum()

userName    0
text        1
date        0
dtype: int64

In [125]:
df=df.dropna()
df.isnull().sum()

userName    0
text        0
date        0
dtype: int64

In [126]:
df.duplicated().sum()

97

## Text preperation

## 1- lower case

In [127]:
df["text"]=df["text"].str.lower()
df.head()

,userName,text,date
0,ngui_sintan,timnas kali ini semua cogan semua ya ????????,2024/04/29 10:16:56
1,agustiyaindahsariputri,timnas indonesia u-19 vs pra pon,2024/04/29 12:28:06
2,shaunevans_reff,????,2024/04/29 13:21:02
3,dslsyabildumps_,uhuyyyy????,2024/04/29 14:36:48
4,rohadiiiiiii,final : waalykumsalam ????,2024/04/29 14:57:33

In [128]:
## 2- remove html tags

In [129]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\user01\appdata\local\programs\python\python311\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\user01\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4) (2.5)

WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [130]:
from bs4 import BeautifulSoup

## check if there is html tags

def has_html_tags(text):
    soup = BeautifulSoup(text, 'html.parser')
    return bool(soup.find())

df['has_html_tags'] = df['text'].apply(has_html_tags)
df.head()

C:\Users\user01\AppData\Local\Temp\ipykernel_14876\3972790226.py:6: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup = BeautifulSoup(text, 'html.parser')

,userName,text,date,has_html_tags
0,ngui_sintan,timnas kali ini semua cogan semua ya ????????,2024/04/29 10:16:56,False
1,agustiyaindahsariputri,timnas indonesia u-19 vs pra pon,2024/04/29 12:28:06,False
2,shaunevans_reff,????,2024/04/29 13:21:02,False
3,dslsyabildumps_,uhuyyyy????,2024/04/29 14:36:48,False
4,rohadiiiiiii,final : waalykumsalam ????,2024/04/29 14:57:33,False

In [131]:
count_true = df['has_html_tags'].sum()
count_true

0

In [132]:
df = df.drop('has_html_tags', axis=1)
df.head()

,userName,text,date
0,ngui_sintan,timnas kali ini semua cogan semua ya ????????,2024/04/29 10:16:56
1,agustiyaindahsariputri,timnas indonesia u-19 vs pra pon,2024/04/29 12:28:06
2,shaunevans_reff,????,2024/04/29 13:21:02
3,dslsyabildumps_,uhuyyyy????,2024/04/29 14:36:48
4,rohadiiiiiii,final : waalykumsalam ????,2024/04/29 14:57:33

## 3- remove emojies

In [133]:
!pip install emoji

Requirement already satisfied: emoji in c:\users\user01\appdata\local\programs\python\python311\lib\site-packages (2.12.1)

WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: typing-extensions>=4.7.0 in c:\users\user01\appdata\local\programs\python\python311\lib\site-packages (from emoji) (4.8.0)

In [134]:
!pip install regex

Requirement already satisfied: regex in c:\users\user01\appdata\local\programs\python\python311\lib\site-packages (2023.12.25)

WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [135]:
!pip install --upgrade emoji

Requirement already satisfied: emoji in c:\users\user01\appdata\local\programs\python\python311\lib\site-packages (2.12.1)
Requirement already satisfied: typing-extensions>=4.7.0 in c:\users\user01\appdata\local\programs\python\python311\lib\site-packages (from emoji) (4.8.0)

WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)
WARNING: Ignoring invalid distribution ~eras (C:\Users\user01\AppData\Roaming\Python\Python311\site-packages)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [136]:
import regex
import pandas as pd

# Function to check if a string contains emojis using a Unicode character property
def has_emoji(text):
    emoji_pattern = regex.compile(r'\p{Emoji}', flags=regex.UNICODE)
    return bool(emoji_pattern.search(text))


has_emojis =  df['text'].apply(has_emoji)

has_emojis

0      False
1       True
2      False
3      False
4      False
       ...
784    False
785    False
786     True
787    False
788    False
Name: text, Length: 788, dtype: bool

In [137]:
has_emojis.sum()

102

## 4- remove URLs

In [138]:
import re
def remove_url(text):
    pattern=re.compile(r'https?://\S+|www\.S+')
    return pattern.sub(r'',text)
df["text"]=df["text"].apply(remove_url)

df.head()

,userName,text,date
0,ngui_sintan,timnas kali ini semua cogan semua ya ????????,2024/04/29 10:16:56
1,agustiyaindahsariputri,timnas indonesia u-19 vs pra pon,2024/04/29 12:28:06
2,shaunevans_reff,????,2024/04/29 13:21:02
3,dslsyabildumps_,uhuyyyy????,2024/04/29 14:36:48
4,rohadiiiiiii,final : waalykumsalam ????,2024/04/29 14:57:33

## 5- Remove puncatution

In [139]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [140]:
punc=string.punctuation

In [141]:
def remove_punc(text):
    return text.translate(str.maketrans('', '',punc))

df["text"]=df["text"].apply(remove_punc)
df.head()

,userName,text,date
0,ngui_sintan,timnas kali ini semua cogan semua ya,2024/04/29 10:16:56
1,agustiyaindahsariputri,timnas indonesia u19 vs pra pon,2024/04/29 12:28:06
2,shaunevans_reff,,2024/04/29 13:21:02
3,dslsyabildumps_,uhuyyyy,2024/04/29 14:36:48
4,rohadiiiiiii,final waalykumsalam,2024/04/29 14:57:33

## 6- remove stop words

In [142]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
stop_words=set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user01\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [143]:
def remove_stopwords(text):
    words = text.split()
    filtered_words = [word for word in words if word not in stop_words]
    return " ".join(filtered_words)

df["text"]=df["text"].apply(lambda x: remove_stopwords(x))

df.head()

,userName,text,date
0,ngui_sintan,timnas kali ini semua cogan semua ya,2024/04/29 10:16:56
1,agustiyaindahsariputri,timnas indonesia u19 vs pra pon,2024/04/29 12:28:06
2,shaunevans_reff,,2024/04/29 13:21:02
3,dslsyabildumps_,uhuyyyy,2024/04/29 14:36:48
4,rohadiiiiiii,final waalykumsalam,2024/04/29 14:57:33

## 7- Tokenize

In [144]:
import nltk
nltk.download('punkt')
from nltk import word_tokenize, sent_tokenize

# Function to apply sentence and word tokenization
def tokenize_text(text):
    sentences = sent_tokenize(text)
    words = [word_tokenize(sentence) for sentence in sentences]
    return words

df['Complaint_tokenized_text'] = df['text'].apply(tokenize_text)

df.head()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user01\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,userName,text,date,Complaint_tokenized_text
0,ngui_sintan,timnas kali ini semua cogan semua ya,2024/04/29 10:16:56,"[[timnas, kali, ini, semua, cogan, semua, ya]]"
1,agustiyaindahsariputri,timnas indonesia u19 vs pra pon,2024/04/29 12:28:06,"[[timnas, indonesia, u19, vs, pra, pon]]"
2,shaunevans_reff,,2024/04/29 13:21:02,[]
3,dslsyabildumps_,uhuyyyy,2024/04/29 14:36:48,[[uhuyyyy]]
4,rohadiiiiiii,final waalykumsalam,2024/04/29 14:57:33,"[[final, waalykumsalam]]"

In [145]:
df["Complaint_tokenized_text"][0][0]

['timnas', 'kali', 'ini', 'semua', 'cogan', 'semua', 'ya']

In [146]:
single_space_mask = df.applymap(lambda x: x == '')
rows_with_single_space = df[single_space_mask.any(axis=1)]
rows_with_single_space
df = df[~single_space_mask.any(axis=1)]
df.head(1000)

C:\Users\user01\AppData\Local\Temp\ipykernel_14876\2659333811.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  single_space_mask = df.applymap(lambda x: x == '')

,userName,text,date,Complaint_tokenized_text
0,ngui_sintan,timnas kali ini semua cogan semua ya,2024/04/29 10:16:56,"[[timnas, kali, ini, semua, cogan, semua, ya]]"
1,agustiyaindahsariputri,timnas indonesia u19 vs pra pon,2024/04/29 12:28:06,"[[timnas, indonesia, u19, vs, pra, pon]]"
3,dslsyabildumps_,uhuyyyy,2024/04/29 14:36:48,[[uhuyyyy]]
4,rohadiiiiiii,final waalykumsalam,2024/04/29 14:57:33,"[[final, waalykumsalam]]"
5,ayunabilaaaaa,beyond proud,2024/04/29 16:31:02,"[[beyond, proud]]"

In [148]:
df.head(1000)

,userName,text,date,Complaint_tokenized_text
0,ngui_sintan,timnas kali ini semua cogan semua ya,2024/04/29 10:16:56,"[[timnas, kali, ini, semua, cogan, semua, ya]]"
1,agustiyaindahsariputri,timnas indonesia u19 vs pra pon,2024/04/29 12:28:06,"[[timnas, indonesia, u19, vs, pra, pon]]"
3,dslsyabildumps_,uhuyyyy,2024/04/29 14:36:48,[[uhuyyyy]]
4,rohadiiiiiii,final waalykumsalam,2024/04/29 14:57:33,"[[final, waalykumsalam]]"
5,ayunabilaaaaa,beyond proud,2024/04/29 16:31:02,"[[beyond, proud]]"
...,...,...,...,...
782,faidlft_,menyala timnaskuuu,2024/04/26 14:04:40,"[[menyala, timnaskuuu]]"
784,clarasti.novii,sandywalsh,2024/04/26 14:04:50,[[sandywalsh]]
785,tubagus_aj,gilaaaaaaaaa,2024/04/26 14:05:14,[[gilaaaaaaaaa]]
786,effendyahmd_,bbitchess6 kenapa ga manual aja mbak ambil air...,2024/04/26 14:05:15,"[[bbitchess6, kenapa, ga, manual, aja, mbak, a..."
788,cantikakenzie_,proud youuuu garudakuuuu,2024/04/26 14:05:40,"[[proud, youuuu, garudakuuuu]]"

In [147]:
df.to_csv('result/01_date_preprocessing_result.csv',encoding='utf8',index=False)